h1{
    text-align: center;
}
.img-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap:  2%;
    margin: 50px auto;
    justify-content: center;
}
.img-container img{
    width: 30%;
    border-radius: 20px;
    margin-bottom: 1%;
}
.content-box{
    width: 90%;
    margin: 0 auto;
}
article{
    display: flex;
    gap: 3%;
    margin: 50px auto;
}
article img{
    width: 30%;
    border-radius: 20px;
}
.bottom{
    width: 90%;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}