body{
    background-color: blueviolet;
}
.text{
    display: none;
}

@media only screen and (max-width: 1200px){
    body{
        background-color: rgb(170, 93, 243);
    }
    .text{
        display: none;
    }
    .t-2{
        display: block;
    }
}
@media only screen and (max-width: 992px){
    body{
        background-color: deeppink;
    }
    .text{
        display: none;
    }
    .t-3{
        display: block;
    }
}